<section class='info'>
</section>
 
 <div class='clouds'>
   <div class='clouds-1'></div>
   <div class='clouds-2'></div>
   <div class='clouds-3'></div>
 </div>
 
<!--  ============================================================================================ -->

<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet"> 

<body>
    <div class="container">
        <div class="sidebar">
            <img src="assets/logo.jpg" alt="Logo" class="logo">
            <h1 class="mainTitle">WILDROME</h1>
            <app-menu></app-menu>
        </div>
        <div class="main">
            
          <app-ressources
[wood]="playerService.getWood()"
[water]="playerService.getWater()"
[food]="playerService.getFood()"
[money]="playerService.getMoney()"
></app-ressources>
          
            <div class="title">
                <h1>𝓑â𝓽𝓲𝓶𝓮𝓷𝓽</h1>
                <h2>𝓒𝓸𝓷𝓼𝓽𝓻𝓾𝓬𝓽𝓲𝓸𝓷</h2></div>
            <div class="content">
            <h3>Name Province: {{provinceName}}</h3>
                <button (click)="goToBuildingList()">goToBuildingList</button>


            <h3>Choisir un type</h3>
            <select #buildingslist  (change)='onSelect(buildingslist.value)'>
                
                <option  value="null">Select building</option>

                <option *ngFor="let option of buildings" [value]="option.type">
                    {{ option.type }}
                </option>

            </select>

            <p *ngIf="building">Name : {{building.name}}</p>
            <p *ngIf="building">Force : {{building.strength}}</p>
            <p *ngIf="building">Prix Wood : {{building.wood}}</p>
            <p *ngIf="building">Prix Water : {{building.water}}</p>
            <p *ngIf="building">Prix Food : {{building.food}}</p>
            <p *ngIf="building">Prix Coins : {{building.money}}</p>

            <br>
              <p>{{errorMessage}}</p>
            <button *ngIf="canBuild" (click)="onBuild()">Construire</button>
            </div>
            </div>
        </div>
</body>
