<a [routerLink]="['/menu']">Menu</a>

<app-ressources
[wood]="playerService.getWood()"
[water]="playerService.getWater()"
[food]="playerService.getFood()"
[money]="playerService.getMoney()"
></app-ressources>

<h1>BATIMENT</h1>
<h2>Construction</h2>
<h3>Name Province: {{provinceName}}</h3>
<button (click)="goToBuildingList()">goToBuildingList</button>


<h3>Choisir un type</h3>
<select #buildingslist  (change)='onSelect(buildingslist.value)'>
    
    <option  value="null">Select building</option>

    <option *ngFor="let option of buildings" [value]="option.type">
        {{ option.type }}
     </option>

</select>

<p *ngIf="building">Name : {{building.name}}</p>
<p *ngIf="building">Force : {{building.strength}}</p>
<p *ngIf="building">Prix bois : {{building.wood}}</p>
<p *ngIf="building">Prix eau : {{building.water}}</p>
<p *ngIf="building">Prix nourriture : {{building.food}}</p>
<p *ngIf="building">Prix argent : {{building.money}}</p>


<!--
<ul>
    <li>Type 1</li>
    <li>Type 2</li>
    <li>Type 3</li>
</ul>

<h3>Ressources nécessaire</h3>

<ul>
    <li>Bois 0</li>
    <li>Eau 0</li>
    <li>Nourriture 0</li>
    <li>Argent 0</li>

</ul>

-->

<br>
<p>{{errorMessage}}</p>
<button *ngIf="canBuild" (click)="onBuild()">Construire</button>