<section class='info'>
</section>
 
 <div class='clouds'>
   <div class='clouds-1'></div>
   <div class='clouds-2'></div>
   <div class='clouds-3'></div>
 </div>
 
<!--  ============================================================================================ -->

<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet"> 

<body>
    <div class="container">
        <div class="sidebar">
            <img src="assets/logo.jpg" alt="Logo" class="logo">
            <h1 class="mainTitle">WILDROME</h1>
            <app-menu></app-menu>
        </div>
        <div class="main">
         
          <app-ressources
          [wood]="playerService.getWood()"
          [water]="playerService.getWater()"
          [food]="playerService.getFood()"
          [money]="playerService.getMoney()"
          ></app-ressources>
          
            <div class="title">
              <h1>𝓑𝓪𝓽𝓪𝓲𝓵𝓵𝓮𝓼 ⚔</h1>
              <h2>𝓐𝓽𝓽𝓪𝓺𝓾𝓮</h2></div>
            <div class="content">
              

              <h3>Choisir son enemie</h3>
              <ul class="enemies-list" *ngFor="let enemy of enemies">
                <li>
                  <img [style]="setBorder(enemy)" (click)="selectEnemy(enemy.id)" src="/assets/Enemie1.jpg" alt="Enemie 1 Icon">
                  {{enemy.login}}
                </li>
                <!--
                <li>
                  <img src="/assets/Enemie2.jpg" alt="Enemie 2 Icon">
                  Enemie 2
                </li>
                <li>
                  <img src="/assets/Enemie3.jpg" alt="Enemie 3 Icon">
                  Enemie 3
                </li>
                -->
              </ul>
              
              <!--
              <h3>Recruter une légions</h3>
              
              <ul class="legion-list">
                <li>
                  <img src="/assets/legion1.jpg" alt="Legion 1 Icon"><button>+</button><button>-</button>
                  Légion Type A
                </li>
                <li>
                  <img src="/assets/legion2.jpg" alt="Legion 2 Icon"><button>+</button><button>-</button>
                  Légion Type B
                </li>
                <li>
                  <img src="/assets/legion3.jpg" alt="Legion 3 Icon"><button>+</button><button>-</button>
                  Légion Type C
                </li>
                </ul>
             
              <a [routerLink]="['/battlewin']">Attaquer</a>

               -->

               <button *ngIf="this.current_enemy" (click)="attack()">Attaquer</button>


            </div>
            </div>
        </div>
</body>

