
<ul class="menu">
  <li><a class="button" href="#">Accueil</a></li>

  <li *ngIf="isLogged()">

    <a class="button" [routerLink]="['/login']">Login</a>

  </li>

  <li *ngIf="isLogged()">

    <a class="button" [routerLink]="['/register']">Inscription</a>

  </li>

  <li>

    <a class="button logout-button" (click)="logOut()">Logout</a>

  </li>

  <li>

    <a class="button" [routerLink]="['/info']">Profil</a>

  </li>


  <li>

    <a class="button" [routerLink]="['/ressourcepage']">Ressources</a>

  </li>

  <li>

    <a class="button" [routerLink]="['/provincelist']">Provinces</a>

  </li>
<!--
  <li>

    <a class="button" [routerLink]="['/legionlist']">Légions</a>

  </li>
-->
  <li>

    <a class="button" [routerLink]="['/battleattaque']">Bataille</a>

  </li>
<!--
  <li>

    <a class="button" [routerLink]="['/rdlist']">R&D</a>

  </li>
-->

  <li>

    <a class="button" [routerLink]="['/walloffame']">Classement</a>

  </li>



</ul>