<h1>Menu</h1>

<ul>

    <li>
  
      <a [routerLink]="['/login']">Login</a>
  
    </li>
  
    <li>
  
      <a [routerLink]="['/register']">Inscription</a>
  
    </li>
  
    <li>
  
        <a [routerLink]="['/info']">Profil</a>
    
      </li>


      <li>
  
        <a [routerLink]="['/provincelist']">Provinces</a>
    
      </li>

      <li>
  
        <a [routerLink]="['/legionlist']">Légions</a>
    
      </li>

      <li>
  
        <a [routerLink]="['/battlelist']">Bataille</a>
    
      </li>

      <li>
  
        <a [routerLink]="['/rdlist']">R&D</a>
    
      </li>


      <li>
  
        <a [routerLink]="['/walloffame']">Classement</a>
    
      </li>



  </ul>