ul.menu {
  border: 5px solid #960012;
  background-color: #8F5A00;
  list-style: none;
  padding: 0; 
  margin: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  overflow-y: scroll;
  height: 340px;

  padding: 9px;
  background-color: rgba(143, 90, 0, 0.1);
  border: 5px solid rgba(150, 0, 18, 1);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(150, 0, 18, 0.2);
  margin-top: 5px;

  scrollbar-width: thin;
  scrollbar-color: #D7CBA3 #8F5A00;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #D7CBA3;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }

  &::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 10px rgba(215, 203, 163, 0.7);
    animation: pulse 1s infinite alternate;
  }

  &::-webkit-scrollbar-track {
    background-color: #8F5A00;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

a.button {
    display:flex;
    background-color: #960012;
    color: #D7CBA3;
    padding: 15px 25px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #D7CBA3;
    margin: 5px 0;
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    border-color: #B2000C;
    box-shadow: 0 0 20px rgba(150, 0, 18, 0.5);
    transform: translateY(-2px) scale(1.02);
  }

  &:active {
    box-shadow: 0 0 5px rgba(150, 0, 18, 0.5);
    transform: translateY(0) scale(0.98);
  }
}