<section class='info'>
</section>
 
 <div class='clouds'>
   <div class='clouds-1'></div>
   <div class='clouds-2'></div>
   <div class='clouds-3'></div>
 </div>
 
<!--  ============================================================================================ -->

<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet"> 

<body>
    <div class="container">
        <div class="sidebar">
            <img src="assets/logo.jpg" alt="Logo" class="logo">
            <h1 class="mainTitle">WILDROME</h1>
            <app-menu></app-menu>
        </div>
        <div class="main">
            <app-ressources></app-ressources>
            <div class="title">
                <h1>𝓑â𝓽𝓲𝓶𝓮𝓷𝓽</h1>
                <h2>𝓓é𝓽𝓪𝓲𝓵𝓼</h2></div>
                <div class="content">
                    <p>Name Province: {{provinceName}}</p>
                    <button class="go-to-building-list-button" (click)="goToBuildingList()">goToBuildingList</button>
                  
                    <p *ngIf="building">Name : {{building.name}}</p>
                    <p *ngIf="building">Force : {{building.strength}}</p>
                    <p *ngIf="building">Type : {{building.type}}</p>
                    <p *ngIf="building">
                      Recrue : {{building.troop}}<button class="add-button" (click)="addTroop()">+</button>
                    </p>
                  
                    <p>Total prix Wood = prix Wood x recrue</p>
                    <p>Total prix Water = prix Water x recrue</p>
                    <p>Total prix Food = prix Food x recrue</p>
                  
                    <button class="save-button" (click)="saveTroop()">Recrutement</button>
                  </div>
            </div>
        </div>
</body>

