<body>
    <div id="container">
       <header>Register new player</header>
       <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
          <fieldset>
             <br/>
             <input formControlName="username"  type="text" name="username" id="username" placeholder="Username" required autofocus>
             <br/><br/>
             <input formControlName="email" type="email" name="email" id="email" placeholder="E-mail" required>
             <br/><br/>
             <input formControlName="password" type="password" name="password" id="password" placeholder="Password" required>
             <br/><br/>
             <input formControlName="cpassword" type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" required>
             <br/> <br/> 
             <input formControlName="provincename" type="text" name="provincename" id="provincename" placeholder="Province Name" required>
             <br/>  <br/>
             <label for="submit"></label>
             <input type="submit" name="submit" id="submit" value="REGISTER">
            </fieldset>
       </form>
    </div>
 </body>