<!-- <h1>Inscription</h1>

<div class="input">
    <label>username</label>
    <input class="login" type="text">
    </div>

    <div class="input">
        <label>password</label>
        <input class="login" type="password">
        </div>

        <div class="input">
            <label>email</label>
            <input class="login" type="text">
            </div>

<button>Save</button>
 -->

 <body>
    <div id="container">
       <header>Register new player</header>
       <form method="post">
          <fieldset>
             <br/>
             <input type="text" name="username" id="username" placeholder="Username" required autofocus>
             <br/><br/>
             <input type="email" name="email" id="email" placeholder="E-mail" required>
             <br/><br/>
             <input type="password" name="password" id="password" placeholder="Password" required>
             <br/><br/>
             <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" required>
             <br/> <br/> <br/>
             <label for="submit"></label>
             <input type="submit" name="submit" id="submit" value="REGISTER">
          </fieldset>
       </form>
    </div>
 </body>