<section class='info'>
</section>
 
 <div class='clouds'>
   <div class='clouds-1'></div>
   <div class='clouds-2'></div>
   <div class='clouds-3'></div>
 </div>
 
<!--  ============================================================================================ -->

<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet"> 
<body>
    <div class="container">
        <div class="sidebar">
            <img src="assets/logo.jpg" alt="Logo" class="logo">
            <h1 class="mainTitle">WILDROME</h1>
            <app-menu></app-menu>
        </div>
        <div class="main">
            <div class="ressource">
                <ul class="ressource_list">
                    <li>
                        <img src="assets/wood.png" alt="Image 1">
                        <span class="ressource_element1">Wood  {{wood}}</span>
                    </li>
                    <li>
                        <img src="assets/water.jpg" alt="Image 2">
                        <span class="ressource_element2">Water {{water}}</span>
                    </li>
                    <li>
                        <img src="assets/food.png" alt="Image 3">
                        <span class="ressource_element3">Food {{food}}</span>
                    </li>
                    <li>
                        <img src="assets/coins.png" alt="Image 4">
                        <span class="ressource_element4">Coins {{money}}</span>
                    </li>
                </ul>
            </div>
            <div class="title">
                <h1>𝓡𝓮𝓼𝓼𝓸𝓾𝓻𝓬𝓮𝓼</h1>
                <h2>𝓐𝓳𝓸𝓾𝓽𝓮𝓻</h2>
            </div>
            <div class="content">
                <div class="update_ressource">
                        <ul class="update_ressource_list">
                            <li>
                                <img src="assets/wood.png" alt="Image 1">
                                <span class="ressource_element1">Wood {{wood}}</span>
                                <button class="addButtonRessource" (click) = "addWood()" >+</button>
                            </li>
                            <li>
                                <img src="assets/water.jpg" alt="Image 2">
                                <span class="ressource_element2">Water {{water}}</span>
                                <button class="addButtonRessource" (click) = "addWater()">+</button>
                            </li>
                            <li>
                                <img src="assets/food.png" alt="Image 3">
                                <span class="ressource_element3">Food {{food}}</span>
                                <button class="addButtonRessource" (click) = "addFood()">+</button>
                            </li>
                            <li>
                                <img src="assets/coins.png" alt="Image 4">
                                <span class="ressource_element4">Coins {{money}}</span>
                                <button class="addButtonRessource" (click) = "addMoney()">+</button>
                            </li>
                        </ul>
                    </div>

                    <button (click)="updateRessource()">Sauvegarder</button>

            </div>
        </div>
    </div>
</body>