<div class="main">
    <div class="ressource">
        <ul class="ressource_list">
            <li>
                <img src="assets/wood.png" alt="Image 1">
                <span class="ressource_element1">Wood {{wood}}</span>
            </li>
            <li>
                <img src="assets/water.jpg" alt="Image 2">
                <span class="ressource_element2">Water {{water}}</span>
            </li>
            <li>
                <img src="assets/food.png" alt="Image 3">
                <span class="ressource_element3">Food {{food}}</span>
            </li>
            <li>
                <img src="assets/coins.png" alt="Image 4">
                <span class="ressource_element4">Coins {{money}}</span>
            </li>
        </ul>
    </div>
        