div.ressource {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid transparent;
  background-color: #8F5A00;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(150, 0, 18, 0.5);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  padding: 9px;
  background-color: rgba(143, 90, 0, 0.1);
  border: 5px solid rgba(150, 0, 18, 1);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(150, 0, 18, 0.2);
  margin-top: 0.5px;

  &:before {
    content: '';
    position: absolute;
    inset: -5px;
    border: 3px solid transparent;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover {
    border-color: #B2000C;
    box-shadow: 0 0 20px rgba(150, 0, 18, 0.7);
  }

  &:hover:before {
    opacity: 1;
    animation: pulsate 2s infinite;
  }
}

ul.ressource_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

ul.ressource_list li {
  color: #D7CBA3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2px;
  width: 109px;
}

ul.ressource_list img {
  width: 60px;
  height: 55px;
  border-radius: 8px;
}

ul.ressource_list span {
  font-size: 18px;
  &.ressource_element1 {
    animation: glitch 2.8s infinite;
  }
  &.ressource_element2 {
    animation: glitch 3.3s infinite;
  }
  &.ressource_element3 {
    animation: glitch 3.7s infinite;
  }
  &.ressource_element4 {
    animation: glitch 4s infinite;
  }
}

ul.ressource_list {
	position: relative;
}

ul.ressource_list::before {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	overflow: hidden;
	position: absolute;
	content: attr(data-text);
	border-right: 2px solid rgba(150, 0, 18, 1);
	animation: animate 6s linear infinite;
}
  
  @keyframes glitch {
    0% {
      transform: translate(2px, 2px);
      text-shadow: -1px -1px #ffa200;
    }
    25% {
      transform: translate(-2px, -2px);
      text-shadow: 2px -1px #fce197a8;
    }
    50% {
      transform: translate(2px, -2px);
      text-shadow: 1px 1px #c57e02;
    }
    75% {
      transform: translate(-2px, 2px);
      text-shadow: -2px 1px #D7CBA3;
    }
    100% {
      transform: translate(2px, 2px);
      text-shadow: -1px -1px #8F5A00;
    }
  }
  
  @keyframes pulsate {
    0% {
      transform: scale(1);
      border-color: rgba(255, 0, 0, 0.4);
    }
    50% {
      transform: scale(1.1);
      border-color: rgba(255, 0, 0, 0.7);
    }
    100% {
      transform: scale(1);
      border-color: rgba(255, 0, 0, 0.4);
    }
  }

  @keyframes animate {
    0%,
    10%,
    100% {
      width: 0;
    }
  
    70%,
    90% {
      width: 100%;
    }
  }