<!-- <div>Eau : 0 Bois : 12 Nourriture : 0 Argent : 0</div> -->
<div class="main">
    <div class="ressource">
        <ul class="ressource_list">
            <li>
                <img src="assets/wood.png" alt="Image 1">
                <span class="ressource_element1">bois 0</span>
            </li>
            <li>
                <img src="assets/water.jpg" alt="Image 2">
                <span class="ressource_element2">eau 0</span>
            </li>
            <li>
                <img src="assets/food.png" alt="Image 3">
                <span class="ressource_element3">nourriture 0</span>
            </li>
            <li>
                <img src="assets/coins.png" alt="Image 4">
                <span class="ressource_element4">Argent 0</span>
            </li>
        </ul>
    </div>
        